################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/SmartEmployeePortal
/.vs/slnx.sqlite
/SmartEmpAPI/.vs/SmartEmpAPI/config/applicationhost.config
/SmartEmpAPI/.vs/SmartEmpAPI/FileContentIndex
/SmartEmpAPI/bin/Debug/net8.0
/SmartEmpAPI/.vs/SmartEmpAPI/v17/.suo
/SmartEmpAPI/obj
/SmartEmpAPI/.vs/SmartEmpAPI/v17
/SmartEmpAPI/.vs/ProjectEvaluation/smartempapi.metadata.v9.bin
/SmartEmpAPI/.vs/ProjectEvaluation/smartempapi.projects.v9.bin
/SmartEmpAPI/.vs/ProjectEvaluation/smartempapi.strings.v9.bin
/SmartEmpAPI/.vs/SmartEmpAPI/DesignTimeBuild/.dtbcache.v2
/SmartEmpAPI/.vs/SmartEmpAPI/CopilotIndices/17.12.31.40377
/SmartEmpAPI/.vs
/Common/bin/Debug/net8.0
/Common/obj
